In [39]:
import pandas as pd

In [40]:
source_files = ['0_00781.csv','0_00897.csv']

In [41]:
dfstart = pd.read_csv("../source/" + source_files[0],header=0, usecols=['CountryCode','CountryName','CoverageType','RequestYear',\
                                                      'PovertyLine', 'HeadCount','ReqYearPopulation'])

In [42]:
dfend = pd.read_csv("../source/" + source_files[1],header=0, usecols=['CountryCode','CountryName','CoverageType','RequestYear',\
                                                      'PovertyLine', 'HeadCount','ReqYearPopulation'])

In [43]:
dfstart.head(10)

,CountryCode,CountryName,CoverageType,RequestYear,PovertyLine,HeadCount,ReqYearPopulation
0,ALB,Albania,N,1981,0.00781,0.000000,2.726056
1,DZA,Algeria,N,1981,0.00781,0.000000,19.824301
2,AGO,Angola,N,1981,0.00781,0.000000,8.640446
3,ARG,Argentina,U,1981,0.00781,0.002289,23.609667
4,ARM,Armenia,N,1981,0.00781,0.000130,3.148096
5,AUS,Australia,N,1981,0.00781,0.000000,14.927000
6,AUT,Austria,N,1981,0.00781,0.000000,7.568710
7,AZE,Azerbaijan,N,1981,0.00781,0.000000,6.249314
8,BGD,Bangladesh,N,1981,0.00781,0.000372,81.767515
9,BLR,Belarus,N,1981,0.00781,0.000000,9.710000

In [44]:
dfend.head(10)

,CountryCode,CountryName,CoverageType,RequestYear,PovertyLine,HeadCount,ReqYearPopulation
0,ALB,Albania,N,1981,0.00897,0.000000,2.726056
1,DZA,Algeria,N,1981,0.00897,0.000000,19.824301
2,AGO,Angola,N,1981,0.00897,0.000000,8.640446
3,ARG,Argentina,U,1981,0.00897,0.002290,23.609667
4,ARM,Armenia,N,1981,0.00897,0.000131,3.148096
5,AUS,Australia,N,1981,0.00897,0.000000,14.927000
6,AUT,Austria,N,1981,0.00897,0.000000,7.568710
7,AZE,Azerbaijan,N,1981,0.00897,0.000000,6.249314
8,BGD,Bangladesh,N,1981,0.00897,0.000374,81.767515
9,BLR,Belarus,N,1981,0.00897,0.000000,9.710000

In [45]:
dfend['HeadCount'] = dfend['HeadCount'] - dfstart['HeadCount']

In [46]:
dfend.head(10)

,CountryCode,CountryName,CoverageType,RequestYear,PovertyLine,HeadCount,ReqYearPopulation
0,ALB,Albania,N,1981,0.00897,0.000000e+00,2.726056
1,DZA,Algeria,N,1981,0.00897,0.000000e+00,19.824301
2,AGO,Angola,N,1981,0.00897,0.000000e+00,8.640446
3,ARG,Argentina,U,1981,0.00897,6.840000e-07,23.609667
4,ARM,Armenia,N,1981,0.00897,5.562000e-07,3.148096
5,AUS,Australia,N,1981,0.00897,0.000000e+00,14.927000
6,AUT,Austria,N,1981,0.00897,0.000000e+00,7.568710
7,AZE,Azerbaijan,N,1981,0.00897,0.000000e+00,6.249314
8,BGD,Bangladesh,N,1981,0.00897,1.932400e-06,81.767515
9,BLR,Belarus,N,1981,0.00897,0.000000e+00,9.710000

In [49]:
dfend['Population'] = dfend['HeadCount'] * dfend['ReqYearPopulation'] * 1000000

In [50]:
dfend.head(10)

,CountryCode,CountryName,CoverageType,RequestYear,PovertyLine,HeadCount,ReqYearPopulation,Population
0,ALB,Albania,N,1981,0.00897,0.000000e+00,2.726056,0.000000
1,DZA,Algeria,N,1981,0.00897,0.000000e+00,19.824301,0.000000
2,AGO,Angola,N,1981,0.00897,0.000000e+00,8.640446,0.000000
3,ARG,Argentina,U,1981,0.00897,6.840000e-07,23.609667,16.149012
4,ARM,Armenia,N,1981,0.00897,5.562000e-07,3.148096,1.750971
5,AUS,Australia,N,1981,0.00897,0.000000e+00,14.927000,0.000000
6,AUT,Austria,N,1981,0.00897,0.000000e+00,7.568710,0.000000
7,AZE,Azerbaijan,N,1981,0.00897,0.000000e+00,6.249314,0.000000
8,BGD,Bangladesh,N,1981,0.00897,1.932400e-06,81.767515,158.007546
9,BLR,Belarus,N,1981,0.00897,0.000000e+00,9.710000,0.000000