In [306]:
import pandas as pd
import os
import glob
from ddf_utils.str import to_concept_id, format_float_digits

In [307]:
source_dir = "../source/"
os.chdir(source_dir)

In [308]:

#source_files_temp = os.popen('ls -m *.csv', 'r').read().split(',')

In [309]:
source_files_temp = glob.glob('[0-9]*.csv')

In [310]:
source_files_temp.sort()

In [311]:
source_files_map = map(lambda x:x.strip(),source_files_temp)

In [312]:
source_files = list(source_files_map)

In [313]:
source_files

['0000.csv',
 '0001.csv',
 '0002.csv',
 '0003.csv',
 '0004.csv',
 '0005.csv',
 '0006.csv',
 '0007.csv',
 '0008.csv',
 '0009.csv',
 '0010.csv',
 '0011.csv',
 '0012.csv',
 '0013.csv',
 '0014.csv',
 '0015.csv',
 '0016.csv',
 '0017.csv',
 '0018.csv',
 '0019.csv',
 '0020.csv',
 '0021.csv',
 '0022.csv',
 '0023.csv',
 '0024.csv',
 '0025.csv',
 '0026.csv',
 '0027.csv',
 '0028.csv',
 '0029.csv',
 '0030.csv',
 '0031.csv',
 '0032.csv',
 '0033.csv',
 '0034.csv',
 '0035.csv',
 '0036.csv',
 '0037.csv',
 '0038.csv',
 '0039.csv',
 '0040.csv',
 '0041.csv',
 '0042.csv',
 '0043.csv',
 '0044.csv',
 '0045.csv',
 '0046.csv',
 '0047.csv',
 '0048.csv',
 '0049.csv',
 '0050.csv',
 '0051.csv',
 '0052.csv',
 '0053.csv',
 '0054.csv',
 '0055.csv',
 '0056.csv',
 '0057.csv',
 '0058.csv',
 '0059.csv',
 '0060.csv',
 '0061.csv',
 '0062.csv',
 '0063.csv',
 '0064.csv',
 '0065.csv',
 '0066.csv',
 '0067.csv',
 '0068.csv',
 '0069.csv',
 '0070.csv',
 '0071.csv',
 '0072.csv',
 '0073.csv',
 '0074.csv',
 '0075.csv',
 '0076.csv',
 '0077.csv',
 '0078.csv',
 '0079.csv',
 '0080.csv',
 '0081.csv',
 '0082.csv',
 '0083.csv',
 '0084.csv',
 '0085.csv',
 '0086.csv',
 '0087.csv',
 '0088.csv',
 '0089.csv',
 '0090.csv',
 '0091.csv',
 '0092.csv',
 '0093.csv',
 '0094.csv',
 '0095.csv',
 '0096.csv',
 '0097.csv',
 '0098.csv',
 '0099.csv',
 '0100.csv']

In [314]:
df_master = pd.DataFrame()

In [315]:
df_bracket_first = pd.read_csv("../source/" + source_files[0],header=0, usecols=['CountryCode','CountryName','CoverageType','RequestYear',\
                                                      'PovertyLine', 'HeadCount','ReqYearPopulation'])

In [316]:
df_master = df_master.append(df_bracket_first) #First most Bracket 0.00781 is simply appended to the data without any subtraction
del df_bracket_first

In [317]:
for i in range(1,len(source_files)):    
    df_bracket_start = pd.read_csv("../source/" + source_files[i-1],header=0, usecols=['CountryCode','CountryName','CoverageType','RequestYear',\
                                                      'PovertyLine', 'HeadCount','ReqYearPopulation'])
    df_bracket_end = pd.read_csv("../source/" + source_files[i],header=0, usecols=['CountryCode','CountryName','CoverageType','RequestYear',\
                                                      'PovertyLine', 'HeadCount','ReqYearPopulation'])
    df_bracket_end['HeadCount'] = df_bracket_end['HeadCount'] - df_bracket_start['HeadCount']
    
    df_master = df_master.append(df_bracket_end)
    del df_bracket_start
    del df_bracket_end

In [318]:
#df_bracket_end['Population'] = df_bracket_end['HeadCount'] * df_bracket_end['ReqYearPopulation'] * 1000000

In [319]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671145 entries, 0 to 6644
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CountryCode        671145 non-null  object
 1   CountryName        671145 non-null  object
 2   CoverageType       671145 non-null  object
 3   RequestYear        671145 non-null  int64
 4   PovertyLine        671145 non-null  float64
 5   HeadCount          670539 non-null  float64
 6   ReqYearPopulation  671145 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 41.0+ MB

In [320]:
df_master.head(100)

,CountryCode,CountryName,CoverageType,RequestYear,PovertyLine,HeadCount,ReqYearPopulation
0,ALB,Albania,N,1981,0.00781,0.000000,2.726056
1,DZA,Algeria,N,1981,0.00781,0.000000,19.824301
2,AGO,Angola,N,1981,0.00781,0.000000,8.640446
3,ARG,Argentina,U,1981,0.00781,0.002289,23.609667
4,ARM,Armenia,N,1981,0.00781,0.000130,3.148096
...,...,...,...,...,...,...,...
95,MLI,Mali,N,1981,0.00781,0.000000,7.234728
96,MLT,Malta,N,1981,0.00781,0.000000,0.318982
97,MRT,Mauritania,N,1981,0.00781,0.000000,1.586493
98,MUS,Mauritius,N,1981,0.00781,0.000000,0.980462
99,MEX,Mexico,N,1981,0.00781,0.000000,69.407624

In [321]:
df_master['Population'] = df_master['HeadCount'] * df_master['ReqYearPopulation'] * 1000000

In [322]:
df_master.drop(columns=['CountryCode', 'HeadCount', 'ReqYearPopulation'], inplace=True)

In [323]:
df_master.head(100)

   CountryName CoverageType  RequestYear  PovertyLine    Population
0      Albania            N         1981      0.00781      0.000000
1      Algeria            N         1981      0.00781      0.000000
2       Angola            N         1981      0.00781      0.000000
3    Argentina            U         1981      0.00781  54040.638990
4      Armenia            N         1981      0.00781    410.742789
..         ...          ...          ...          ...           ...
95        Mali            N         1981      0.00781      0.000000
96       Malta            N         1981      0.00781      0.000000
97  Mauritania            N         1981      0.00781      0.000000
98   Mauritius            N         1981      0.00781      0.000000
99      Mexico            N         1981      0.00781      0.000000

[100 rows x 5 columns]

In [324]:
def preprocess(data):
    """preprocessing the data:
    1. rename the first column to geo_name and third column to year
    2. rename the geo_name to alphanumeric
    3. drop all empty lines

    Note: This function only applies to the tab with country as row index
    and year as column index.
    """
    data = data.rename(columns={data.columns[0]: 'geo_name', data.columns[1]: 'coverage_type', data.columns[2]: 'year', data.columns[3]: 'income_bracket', data.columns[4]: 'population'})
    data['geo'] = data['geo_name'].map(to_concept_id)
    data = data.set_index('geo')
    data = data.dropna(how='all')
    data = data.reset_index()
    return data

In [325]:
df_master = preprocess(df_master)

In [326]:
df_master.tail(10)

,geo,geo_name,coverage_type,year,income_bracket,population
671135,united_kingdom,United Kingdom,N,2019,8192.0,0.0
671136,united_states,United States,N,2019,8192.0,0.0
671137,uruguay,Uruguay,N,2019,8192.0,0.0
671138,uzbekistan,Uzbekistan,N,2019,8192.0,0.0
671139,vanuatu,Vanuatu,N,2019,8192.0,0.0
671140,vietnam,Vietnam,N,2019,8192.0,0.0
671141,west_bank_and_gaza,West Bank and Gaza,N,2019,8192.0,0.0
671142,yemen_republic_of,"Yemen, Republic of",N,2019,8192.0,0.0
671143,zambia,Zambia,N,2019,8192.0,0.0
671144,zimbabwe,Zimbabwe,N,2019,8192.0,0.0

In [327]:
pd.unique(df_master['geo_name'])

array(['Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Democratic Republic of', 'Congo, Republic of',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominican Republic',
       'Ecuador', 'Egypt, Arab Republic of', 'El Salvador', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Republic of', 'Kyrgyz Republic',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'Sao Tome and Principe',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Slovenia',
       'Solomon Islands', 'South Africa', 'Spain', 'Sri Lanka',
       'St. Lucia', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Taiwan, China', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, Republica Bolivariana de', 'Vietnam',
       'West Bank and Gaza', 'Yemen, Republic of', 'Zambia', 'Zimbabwe',
       'Slovak Republic', 'Micronesia, Federated States of', 'Tuvalu',
       'Kosovo', 'Timor-Leste', 'Nauru', 'South Sudan', 'Somalia'],
      dtype=object)

In [328]:
df_master.to_csv("../../ddf--datapoints--population--by--geo--year.csv")

In [330]:
"""
disc = pd.DataFrame([
    ['name', 'Name', 'string', ''],
    ['year', 'Year', 'time', ''],
    ['geo', 'Geo', 'entity_domain', ''],
    ['unit', 'Unit', 'entity_domain', ''],
    ['fuel', 'Fuel', 'entity_domain', ''],
    ['renewable', 'Renewables', 'entity_set', 'fuel'],
    ['material', 'Material', 'entity_domain', ''],
    ['domain', 'Domain', 'string', '']
], columns=['concept', 'name', 'concept_type', 'domain'])
"""