In [197]:
import pandas as pd
import os

In [198]:
source_dir = "../source"
os.chdir(source_dir)

In [199]:

source_files_temp = os.popen('ls -m *.csv', 'r').read().split(',')

In [200]:
source_files_map = map(lambda x:x.strip(),source_files_temp)

In [201]:
source_files = list(source_files_map)

In [202]:
source_files

['0000.csv',
 '0001.csv',
 '0002.csv',
 '0003.csv',
 '0004.csv',
 '0005.csv',
 '0006.csv',
 '0007.csv',
 '0008.csv',
 '0009.csv',
 '0010.csv',
 '0011.csv',
 '0012.csv',
 '0013.csv',
 '0014.csv',
 '0015.csv',
 '0016.csv',
 '0017.csv',
 '0018.csv',
 '0019.csv',
 '0020.csv',
 '0021.csv',
 '0022.csv',
 '0023.csv',
 '0024.csv',
 '0025.csv',
 '0026.csv',
 '0027.csv',
 '0028.csv',
 '0029.csv',
 '0030.csv',
 '0031.csv',
 '0032.csv',
 '0033.csv',
 '0034.csv',
 '0035.csv',
 '0036.csv',
 '0037.csv',
 '0038.csv',
 '0039.csv',
 '0040.csv',
 '0041.csv',
 '0042.csv',
 '0043.csv',
 '0044.csv',
 '0045.csv',
 '0046.csv',
 '0047.csv',
 '0048.csv',
 '0049.csv',
 '0050.csv',
 '0051.csv',
 '0052.csv',
 '0053.csv']

In [203]:
df_master = pd.DataFrame()

In [204]:
df_bracket_first = pd.read_csv("../source/" + source_files[0],header=0, usecols=['CountryCode','CountryName','CoverageType','RequestYear',\
                                                      'PovertyLine', 'HeadCount','ReqYearPopulation'])

In [205]:
df_master = df_master.append(df_bracket_first) #First most Bracket 0.00781 is simply appended to the data without any subtraction
del df_bracket_first

In [206]:
for i in range(1,len(source_files)):    
    df_bracket_start = pd.read_csv("../source/" + source_files[i-1],header=0, usecols=['CountryCode','CountryName','CoverageType','RequestYear',\
                                                      'PovertyLine', 'HeadCount','ReqYearPopulation'])
    df_bracket_end = pd.read_csv("../source/" + source_files[i],header=0, usecols=['CountryCode','CountryName','CoverageType','RequestYear',\
                                                      'PovertyLine', 'HeadCount','ReqYearPopulation'])
    df_bracket_end['HeadCount'] = df_bracket_end['HeadCount'] - df_bracket_start['HeadCount']
    
    df_master = df_master.append(df_bracket_end)
    del df_bracket_start
    del df_bracket_end

In [207]:
#df_bracket_end['Population'] = df_bracket_end['HeadCount'] * df_bracket_end['ReqYearPopulation'] * 1000000

In [208]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358830 entries, 0 to 6644
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CountryCode        358830 non-null  object
 1   CountryName        358830 non-null  object
 2   CoverageType       358830 non-null  object
 3   RequestYear        358830 non-null  int64
 4   PovertyLine        358830 non-null  float64
 5   HeadCount          358506 non-null  float64
 6   ReqYearPopulation  358830 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 21.9+ MB

In [209]:
df_master.head(100)

,CountryCode,CountryName,CoverageType,RequestYear,PovertyLine,HeadCount,ReqYearPopulation
0,ALB,Albania,N,1981,0.00781,0.000000,2.726056
1,DZA,Algeria,N,1981,0.00781,0.000000,19.824301
2,AGO,Angola,N,1981,0.00781,0.000000,8.640446
3,ARG,Argentina,U,1981,0.00781,0.002289,23.609667
4,ARM,Armenia,N,1981,0.00781,0.000130,3.148096
...,...,...,...,...,...,...,...
95,MLI,Mali,N,1981,0.00781,0.000000,7.234728
96,MLT,Malta,N,1981,0.00781,0.000000,0.318982
97,MRT,Mauritania,N,1981,0.00781,0.000000,1.586493
98,MUS,Mauritius,N,1981,0.00781,0.000000,0.980462
99,MEX,Mexico,N,1981,0.00781,0.000000,69.407624

In [210]:
df_master['Population'] = df_master['HeadCount'] * df_master['ReqYearPopulation'] * 1000000

In [211]:
df_master.drop(columns=['HeadCount', 'ReqYearPopulation'], inplace=True)

In [212]:
df_master.tail(10)

,CountryCode,CountryName,CoverageType,RequestYear,PovertyLine,Population
6635,GBR,United Kingdom,N,2019,12.12573,6.039986e+05
6636,USA,United States,N,2019,12.12573,1.639018e+06
6637,URY,Uruguay,N,2019,12.12573,1.898020e+05
6638,UZB,Uzbekistan,N,2019,12.12573,5.766906e+05
6639,VUT,Vanuatu,N,2019,12.12573,5.229012e+03
6640,VNM,Vietnam,N,2019,12.12573,8.692596e+06
6641,PSE,West Bank and Gaza,N,2019,12.12573,3.827469e+05
6642,YEM,"Yemen, Republic of",N,2019,12.12573,7.158669e+04
6643,ZMB,Zambia,N,2019,12.12573,1.452548e+05
6644,ZWE,Zimbabwe,N,2019,12.12573,1.901831e+05

In [213]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358830 entries, 0 to 6644
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CountryCode   358830 non-null  object
 1   CountryName   358830 non-null  object
 2   CoverageType  358830 non-null  object
 3   RequestYear   358830 non-null  int64
 4   PovertyLine   358830 non-null  float64
 5   Population    358506 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 19.2+ MB