In [1]:
import pandas as pd
import numpy as np

# load source files

In [2]:
data = pd.read_csv('../precomputed/ddf--datapoints--income_mountain_numbers--by--country--year--bracket_200.csv')

In [3]:
data.head()

  country  year  bracket  income_mountain
0     afg  1800        0                8
1     afg  1800        1                9
2     afg  1800        2               10
3     afg  1800        3               11
4     afg  1800        4               13

In [4]:
# ilevel4 = pd.read_csv('../source/fixtures/ddf--datapoints--ilevels4--by--country--time.csv')
# ilevel4_wb = pd.read_csv('../source/fixtures/ddf--datapoints--ilevels4_wb--by--country--time.csv')
ilevel4_latest = pd.read_csv('../source/fixtures/wb_groups.csv')

In [5]:
ilevel4_latest

      country         name  time Income levels (GM) 4 income groups (WB)
0         afg  Afghanistan  1800            Level 1           Low income
1         afg  Afghanistan  1801            Level 1           Low income
2         afg  Afghanistan  1802            Level 1           Low income
3         afg  Afghanistan  1803            Level 1           Low income
4         afg  Afghanistan  1804            Level 1           Low income
...       ...          ...   ...                ...                  ...
48940     zwe     Zimbabwe  2046            Level 2  Lower middle income
48941     zwe     Zimbabwe  2047            Level 2  Lower middle income
48942     zwe     Zimbabwe  2048            Level 2  Lower middle income
48943     zwe     Zimbabwe  2049            Level 2  Lower middle income
48944     zwe     Zimbabwe  2050            Level 2  Lower middle income

[48945 rows x 5 columns]

In [6]:
m1 = { "Level 1": 'low_income', 'Level 2': 'lower_middle_income', 'Level 3': 'upper_middle_income', 'Level 4': 'high_income'}
m2 = {'Low income': 'lic', 'Lower middle income': 'lmic', 'Upper middle income': 'umic', 'High income': 'hic'}

In [7]:
ilevel4_latest['Income levels (GM)'] = ilevel4_latest['Income levels (GM)'].map(m1)
ilevel4_latest['4 income groups (WB)'] = ilevel4_latest['4 income groups (WB)'].map(m2)

In [8]:
ilevel4_latest

      country         name  time   Income levels (GM) 4 income groups (WB)
0         afg  Afghanistan  1800           low_income                  lic
1         afg  Afghanistan  1801           low_income                  lic
2         afg  Afghanistan  1802           low_income                  lic
3         afg  Afghanistan  1803           low_income                  lic
4         afg  Afghanistan  1804           low_income                  lic
...       ...          ...   ...                  ...                  ...
48940     zwe     Zimbabwe  2046  lower_middle_income                 lmic
48941     zwe     Zimbabwe  2047  lower_middle_income                 lmic
48942     zwe     Zimbabwe  2048  lower_middle_income                 lmic
48943     zwe     Zimbabwe  2049  lower_middle_income                 lmic
48944     zwe     Zimbabwe  2050  lower_middle_income                 lmic

[48945 rows x 5 columns]

In [9]:
levels = ilevel4_latest[['country', 'time', 'Income levels (GM)', '4 income groups (WB)']].copy()
levels.columns = ['country', 'time', 'gm', 'wb']

In [10]:
levels = levels.set_index(['country', 'time'])

# helper functions

In [11]:
def resample(ser):
    res = pd.Series([x.sum() for x in np.split(ser.values, 50)])
    res.index.name = 'bracket'
    return res

In [12]:
def join_cols(ser):
    return ", ".join(ser.astype(str).values)

# Gapminder grorups

In [13]:
df = data.set_index(['country', 'year'])

In [14]:
df.index.names = ['country', 'time']

In [15]:
df['income_groups'] = levels['gm'].loc[df.index]

In [16]:
df2 = df.reset_index().set_index(['income_groups', 'time']).drop(columns=['country'])

In [17]:
df3 = df2.groupby(['income_groups', 'time']).apply(resample)

In [18]:
df3

bracket                         0         1          2       3         4   \
income_groups       time
high_income         1944         6        22         38      54        70
                    1945         6        22         38      54        70
                    1946         6        22         38      54        70
                    1947        28        92        156     220       284
                    1948        28        92        156     220       284
...                            ...       ...        ...     ...       ...
upper_middle_income 2046  70095243  11120513  191555568  594813  21534802
                    2047  71896427  11116029  191894243  599175  20992654
                    2048  73720965  11108241  192177843  583923  16034043
                    2049  75568845  11097693  192409645  587054  15752350
                    2050  77438821  11084480  192586091  590894  15858366

bracket                          5         6         7         8        9   \
income_groups       time
high_income         1944         86       102       118       134      150
                    1945         86       102       118       134      150
                    1946         86       102       118       134      150
                    1947        348       412       476       540      605
                    1948        348       412       476       540      607
...                             ...       ...       ...       ...      ...
upper_middle_income 2046  223474887  43226988   5216524  10395469  1382448
                    2047  224048104  44071568   5306551  10318712  1403201
                    2048  229925595  48473033   1560559  10456861   354663
                    2049   50337036    697384  10252475   1308439    90971
                    2050   51282346    699393  10177923   1318178    90167

bracket                   ...       40       41       42        43       44  \
income_groups       time  ...
high_income         1944  ...      656      667      681       694      710
                    1945  ...      662      670      682       696      710
                    1946  ...      666      672      684       698      711
                    1947  ...    15018     8113     3402      1812     1403
                    1948  ...    16301    10062     4242      2067     1461
...                       ...      ...      ...      ...       ...      ...
upper_middle_income 2046  ...  6978251   778107  1567202   4866578  8960234
                    2047  ...  6976487   780684  1584715   4883044  8987480
                    2048  ...  7071490  1827046   525906  13439324   372753
                    2049  ...   699100  1706199   153359  13781867    35741
                    2050  ...   699069  1724072   154014  13816331    35790

bracket                         45      46         47      48        49
income_groups       time
high_income         1944       726     742        758     774       790
                    1945       726     742        758     774       790
                    1946       726     742        758     774       790
                    1947      1348    1383       1439    1500      1564
                    1948      1359    1385       1440    1500      1564
...                            ...     ...        ...     ...       ...
upper_middle_income 2046  42110494  213186  109094689  285829  74050631
                    2047  42324200  213342  109254634  288118  74445203
                    2048  42593662  141120  109399884  286453  74824616
                    2049  42788240  129445  109522455  285140  75187324
                    2050  42962309  128962  109624802  287261  75537159

[774 rows x 50 columns]

In [19]:
df3.apply(join_cols,  axis=1)

income_groups        time
high_income          1944    6, 22, 38, 54, 70, 86, 102, 118, 134, 150, 166...
                     1945    6, 22, 38, 54, 70, 86, 102, 118, 134, 150, 166...
                     1946    6, 22, 38, 54, 70, 86, 102, 118, 134, 150, 166...
                     1947    28, 92, 156, 220, 284, 348, 412, 476, 540, 605...
                     1948    28, 92, 156, 220, 284, 348, 412, 476, 540, 607...
                                                   ...
upper_middle_income  2046    70095243, 11120513, 191555568, 594813, 2153480...
                     2047    71896427, 11116029, 191894243, 599175, 2099265...
                     2048    73720965, 11108241, 192177843, 583923, 1603404...
                     2049    75568845, 11097693, 192409645, 587054, 1575235...
                     2050    77438821, 11084480, 192586091, 590894, 1585836...
Length: 774, dtype: object

In [21]:
df4 = df3.apply(join_cols, axis=1)

In [22]:
df4

income_groups        time
high_income          1944    6, 22, 38, 54, 70, 86, 102, 118, 134, 150, 166...
                     1945    6, 22, 38, 54, 70, 86, 102, 118, 134, 150, 166...
                     1946    6, 22, 38, 54, 70, 86, 102, 118, 134, 150, 166...
                     1947    28, 92, 156, 220, 284, 348, 412, 476, 540, 605...
                     1948    28, 92, 156, 220, 284, 348, 412, 476, 540, 607...
                                                   ...
upper_middle_income  2046    70095243, 11120513, 191555568, 594813, 2153480...
                     2047    71896427, 11116029, 191894243, 599175, 2099265...
                     2048    73720965, 11108241, 192177843, 583923, 1603404...
                     2049    75568845, 11097693, 192409645, 587054, 1575235...
                     2050    77438821, 11084480, 192586091, 590894, 1585836...
Length: 774, dtype: object

In [23]:
# df4.to_csv('../../income_mountain/ddf--datapoints--income_mountain_50bracket_shape_for_log--by--income_groups--time.csv')

In [42]:
def calculate_group_ts(data, group_name, group_ser):
    """use this function when the input for groups is a time serise"""
    df = data.set_index(['country', 'year'])
    df.index.names = ['country', 'time']  # fixme.. just make data use country/time as header
    df[group_name] = group_ser.loc[df.index]
    df2 = df.reset_index().set_index([group_name, 'time']).drop(columns=['country'])
    df3 = df2.groupby([group_name, 'time']).apply(resample)
    # df4 = df3.apply(join_cols, axis=1)
    # df4.name = 'income_mountain_50bracket_shape'
    return df3

In [51]:
group_name = 'income_groups'
ts = levels['gm']
res = calculate_group_ts(data, group_name, ts)
res1_mh = res.stack().groupby(group_name).max()
res1 = res.apply(join_cols, axis=1)
res1.name = 'income_mountain_50bracket_shape_for_log'

In [15]:
res1.to_csv('../../income_mountain/ddf--datapoints--income_mountain_50bracket_shape_for_log--by--income_groups--time.csv')

In [52]:
# worldbank levels
group_name = 'income_groups_wb'
ts = levels['wb']
res = calculate_group_ts(data, group_name, ts)
res2_mh = res.stack().groupby(group_name).max()
res2 = res.apply(join_cols, axis=1)
res2.name = 'income_mountain_50bracket_shape'

In [53]:
res2

income_groups_wb  time
hic               1944    6, 22, 38, 54, 70, 86, 102, 118, 134, 150, 166...
                  1945    6, 22, 38, 54, 70, 86, 102, 118, 134, 150, 166...
                  1946    6, 22, 38, 54, 70, 86, 102, 118, 134, 150, 166...
                  1947    28, 92, 156, 220, 284, 348, 412, 476, 540, 605...
                  1948    28, 92, 156, 220, 284, 348, 412, 476, 540, 607...
                                                ...
umic              2046    70095243, 11120513, 191555568, 594813, 2153480...
                  2047    71896427, 11116029, 191894243, 599175, 2099265...
                  2048    73720965, 11108241, 192177843, 583923, 1603404...
                  2049    75568845, 11097693, 192409645, 587054, 1575235...
                  2050    77438821, 11084480, 192586091, 590894, 1585836...
Name: income_mountain_50bracket_shape, Length: 774, dtype: object

In [17]:
res2.to_csv('../../income_mountain/ddf--datapoints--income_mountain_50bracket_shape_for_log--by--income_groups_wb--time.csv')

In [18]:
# west and rest
wr = pd.read_csv('../source/fixtures/west_and_rest.csv')

In [33]:
mapping = wr.set_index('geo')['geo.gm_west_rest'].to_dict()
df = data.set_index(['country', 'year'])
df.index.names = ['country', 'time']
df['west_and_rest'] = df.index.get_level_values('country').map(mapping)

In [37]:
df2 = df.reset_index().groupby(['west_and_rest', 'bracket', 'time'])['income_mountain'].sum()

In [39]:
df3 = df2.groupby(['west_and_rest', 'time']).apply(resample)

In [44]:
df4 = df3.unstack().apply(join_cols, axis=1)

In [45]:
df4

west_and_rest  time
rest           1800    360972, 509613, 693315, 946987, 1299183, 18315...
               1801    362200, 511371, 695568, 949815, 1302542, 18353...
               1802    363205, 512864, 697624, 952543, 1306080, 18399...
               1803    364587, 514714, 700236, 956104, 1310968, 18467...
               1804    366098, 516883, 703235, 960204, 1316547, 18545...
                                             ...
west           2046    0, 1541, 7619, 13961, 22088, 32871, 47356, 648...
               2047    0, 1437, 7499, 13797, 21886, 32608, 47025, 644...
               2048    0, 1423, 7453, 13720, 21778, 32449, 46811, 641...
               2049    0, 347, 6298, 11996, 19621, 29432, 42882, 5955...
               2050    0, 286, 6211, 11868, 19460, 29225, 42616, 5922...
Length: 502, dtype: object

In [33]:
def calculate_group(data, group_name, mapping_func):
    df = data.set_index(['country', 'year'])
    df.index.names = ['country', 'time']
    df[group_name] = df.index.get_level_values('country').map(mapping_func)
    df2 = df.reset_index().groupby([group_name, 'bracket', 'time'])['income_mountain'].sum()
    df3 = df2.groupby([group_name, 'time']).apply(resample)
    # df4 = df3.unstack().apply(join_cols, axis=1)
    df3.name = 'income_mountain_50bracket_shape_for_log'
    return df3

In [30]:
mapping = wr.set_index('geo')['geo.gm_west_rest'].to_dict()
mapping_func = lambda x: mapping[x] if x in mapping.keys() else 'rest'

res3 = calculate_group(data, 'west_and_rest', mapping_func)

In [31]:
res3

west_and_rest  time  bracket
rest           1800  0           360976
                     1           509626
                     2           693347
                     3           947037
                     4          1299258
                                 ...
west           2050  45          181782
                     46           72343
                     47           23866
                     48            8979
                     49            4856
Name: income_mountain, Length: 25100, dtype: int64

In [34]:
res3_mh = res3.groupby('west_and_rest').max()

In [35]:
res3 = res3.unstack().apply(join_cols, axis=1)

In [36]:
res3

west_and_rest  time
rest           1800    360976, 509626, 693347, 947037, 1299258, 18316...
               1801    362204, 511384, 695600, 949865, 1302617, 18354...
               1802    363209, 512877, 697656, 952593, 1306155, 18400...
               1803    364591, 514727, 700268, 956154, 1311043, 18469...
               1804    366102, 516896, 703267, 960254, 1316622, 18546...
                                             ...
west           2046    0, 1541, 7619, 13961, 22088, 32871, 47356, 648...
               2047    0, 1437, 7499, 13797, 21886, 32608, 47025, 644...
               2048    0, 1423, 7453, 13720, 21778, 32449, 46811, 641...
               2049    0, 347, 6298, 11996, 19621, 29432, 42882, 5955...
               2050    0, 286, 6211, 11868, 19460, 29225, 42616, 5922...
Length: 502, dtype: object

In [23]:
res3.to_csv('../../income_mountain/ddf--datapoints--income_mountain_50bracket_shape_for_log--by--west_and_rest--time.csv')

In [37]:
# global

mapping_func = lambda _: 'world'
res4 = calculate_group(data, 'global', mapping_func)

In [38]:
res4

global  time  bracket
world   1800  0           375374
              1           542604
              2           751600
              3          1039291
              4          1435748
                          ...
        2050  45          343505
              46          165872
              47           79166
              48           42180
              49           24901
Name: income_mountain_50bracket_shape_for_log, Length: 12550, dtype: int64

In [39]:
res4_mh = res4.groupby('global').max()

In [40]:
res4_mh

global
world    966980928
Name: income_mountain_50bracket_shape_for_log, dtype: int64

In [41]:
res4 = res4.unstack().apply(join_cols, axis=1)

In [26]:
res4.to_csv('../../income_mountain/ddf--datapoints--income_mountain_50bracket_shape_for_log--by--global--time.csv')

In [69]:
# world_4region
# mapping = wr.set_index('geo')['four_regions'].to_dict()
# mapping_func = lambda x: mapping[x]
# res5 = calculate_group(data, 'world_4regions', mapping_func)

KeyError: 'hkg'

In [70]:
country = pd.read_csv('../../ddf--entities--geo--country.csv', dtype=str)

In [73]:
country.set_index('country')['world_4region']

country
abkh           europe
abw          americas
afg              asia
ago            africa
aia          americas
               ...
yem_south        asia
yug            europe
zaf            africa
zmb            africa
zwe            africa
Name: world_4region, Length: 273, dtype: object

In [83]:
mapping = country.set_index('country')['world_4region'].to_dict()
mapping_func = lambda x: mapping[x]
res5 = calculate_group(data, 'world_4region', mapping_func)

In [75]:
res5

world_4regions  time  bracket
africa          1800  0           27583
                      1           40396
                      2           58890
                      3           89029
                      4          132967
                                  ...
europe          2050  45          27665
                      46          14399
                      47           7940
                      48           4427
                      49           2483
Name: income_mountain_50bracket_shape_for_log, Length: 50200, dtype: int64

In [84]:
res5_mh = res5.groupby('world_4region').max()

In [85]:
res5 = res5.unstack().apply(join_cols, axis=1)

In [86]:
res5.name = 'income_mountain_50bracket_shape_for_log'
res5.to_csv('../../income_mountain/ddf--datapoints--income_mountain_50bracket_shape_for_log--by--world_4region--time.csv')

In [54]:
# appending numbers to entities
ent1 = pd.read_csv('../../ddf--entities--geo--income_groups.csv', dtype=str)

In [56]:
ent1 = ent1.set_index('income_groups')
ent1['income_mountain_50bracket_max_height_for_log'] = res1_mh

In [57]:
ent1

,is--income_groups,name,rank,income_mountain_50bracket_max_height_for_log
income_groups,,,,
high_income,TRUE,High income,1,1481596886
low_income,TRUE,Low income,4,1257196548
lower_middle_income,TRUE,Lower middle income,3,1406323507
upper_middle_income,TRUE,Upper middle income,2,1639343640

In [58]:
ent1.to_csv('../../ddf--entities--geo--income_groups.csv')

In [60]:
fp = '../../ddf--entities--geo--income_groups_wb.csv'
gname = 'income_groups_wb'
ent2 = pd.read_csv(fp).set_index(gname)
ent2['income_mountain_50bracket_max_height_for_log'] = res2_mh

In [61]:
ent2.to_csv(fp)

In [62]:
fp = '../../ddf--entities--geo--west_and_rest.csv'
gname = 'west_and_rest'
ent3 = pd.read_csv(fp).set_index(gname)
ent3['income_mountain_50bracket_max_height_for_log'] = res3_mh

In [64]:
ent3.to_csv(fp)

In [65]:
fp = '../../ddf--entities--geo--global.csv'
gname = 'global'
ent4 = pd.read_csv(fp).set_index(gname)
ent4['income_mountain_50bracket_max_height_for_log'] = res4_mh

In [67]:
ent4.to_csv(fp)

In [80]:
fp = '../../ddf--entities--geo--world_4region.csv'
gname = 'world_4region'
ent5 = pd.read_csv(fp).set_index(gname)
ent5['income_mountain_50bracket_max_height_for_log'] = res5_mh

In [82]:
ent5.to_csv(fp)